header {
  overflow: hidden;
  position: relative;
  background-color: var(--font-color-light);
  z-index: -2;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: skewY(-17deg);
  background-image: linear-gradient(#FFF, #F5f5f5);
  transform-origin: bottom left;
  z-index: -1;
}

.navbar-toggler {
  display: none;
}

li.nav-link a {
  color: var(--font-color-base);
  font-size: large;
}

.navbar-nav {
  gap: 1rem;
  margin-left: auto;
  padding-top: 1em;
}

.more-details > .button-blue {
  margin-right: 1em;
}

.header-banner {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em;
}

.container.header {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1em;
  width: 50%;
}

.intro > .opening {
  max-width: 23em;
}

.floaters {
  flex-direction: row;
  gap: 8rem;
  width: 50%;
}

.floaters > .row {
  display: flex;
  flex-direction: column;
  gap: 5em;
}

.logo-icon {
  width: 6em;
  height: 6em;
  background-color: white;
  border-radius: 5em;
  box-shadow: var(--shadow);
}

.logo-icon.small {
  max-width: 3.5em;
  max-height: 3.5em;
}

.logo-icon.paypal,
.logo-icon.calender {
  max-width: 8em;
  max-height: 8em;
}

.hero {
  margin-top: 6rem;
  text-align: center;
  width: 100%;
}

.hero-intro {
  margin-bottom: 5em;
}

.hero-boxes {
  gap: 2em;
  width: 100%;
  height: 100%;
}

.hero-boxes > .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;
  text-align: left;
  gap: 1em;
  width: 30%;
  height: fit-content;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.container.showcase {
  background-color: var(--background-secondary);
  padding-top: 10em;
}

.showcase img {
  width: 90rem;
}

.features {
  margin-top: 6rem;
  text-align: center;
  width: 100%;
}

.features-title {
  text-align: center;
  width: 80%;
  }

.connector {
  gap: 0.5em;
  font-size: medium;
}

.connector img {
  max-width: 5em;
  background-color: var(--background-secondary);
  border-radius: 2.5em;
}

.circle {
  text-align: center;
}

.line {
  width: 8em;
  border-bottom: 2px solid gray;
  margin-bottom: 3em;
}

.testimony {
  gap: 2em;
  margin-bottom: 4em;
  width: 100%;
  height: 100%;
}

.testimony .dots { 
  margin-top: 10em;
  position: absolute;
  width: 20%;
  z-index: -1;
}

.testimony .profile-image {
  margin-left: 3em;
  width: 90%;
  z-index: 1;
}

.testimony .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  max-width: 50%;
  font-size: medium;
  color: var(--font-color-dark);
}

.description-logo {
  width: 50%;
  margin-right: auto;
  margin-bottom: 2rem;
}

.testimony .details {
  margin-bottom: 3rem;
}

.testimony .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: auto;
}

.companies {
  flex-direction: column;
  font-size: large;
  margin-top: 10rem;
}

.logos {
  gap: 4em;
  width: 100%;
}

.logos > div {
  max-width: 15%;
}

.pricing {
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 3em;
}

.pricing-title {
  text-align: center;
}

.pricing-boxes {
  gap: 3em;
}

.monthly-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 50%;
  height: 100%;
  box-shadow: var(--shadow);
  padding: 2rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.484em;
}

.price {
  font-size: 70px;
  font-weight: 600;
  color: var(--black);
}

.price .description {
  width: 100%;
  margin-bottom: 4em;
}

.price .description > span {
  width: 100%;
  font-size: medium;
}

.mini-tag {
  font-size: x-small;
  margin-top: 1em;
}

.align {
  flex-direction: column;
  gap: 1em;
  width: 35%;
}

.align > .box {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.hire-us {
  gap: 4em;
  color: var(--white);
  font-size: medium;
  background-color: var(--contact);
  color: var(--white);
}

.reviewer-title, .hire-us > .mini-tag {
  color: var(--font-color-base);
}

.hire-intro {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 2em;
  width: 30%;
  margin-left: 2em;
}

.hire-us .mini-tag {
  color: var(--font-color-base);
  font-size: large;
}

.quote {
  margin-bottom: 3em;
}


.team {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

.head-shot {
  border-radius: 3rem;
  max-width: 4rem;
}

.contact-form {
  display: flex;
  margin-right: 0.5em;
  width: 50%;
}

form .title {
  margin-top: 2em;
}

.check-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 4.1rem;
  margin-bottom: 1rem;
  gap: 1em;
  color: var(--font-color-base);
}

input, select {
  margin: 0.5em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;
  border: none;
  box-shadow: var(--shadow);
  color: var(--font-color-base);
}

.check-box p {
  display: inline;
}

.submit {
  margin-top: 3em;
}

.footer {
  justify-content: left;
  align-items: flex-start;
  gap: 4rem;
  margin: 4rem;
  color: var(--font-color-base);
  font-size: small;
}

.footer-title {
  font-weight: bolder;
  font-size: large;
  color: var(--black);
}

.footer > a:hover {
  color: var(--font-color-link);
}

.footer-list, .footer-detail, .front-info {
  flex-direction: column;
  align-items: flex-start;
}

.footer-list a {
  color: var(--font-color-base);
}

.footer-detail li {
  max-width: 10em;
  margin: 0.5em;
}

.footer-detail .button-blue {
  border-radius: 0;
  font-size: xx-small;
  border-radius: 15%;
  max-width: fit-content;
  margin-left: 0.5em;
  padding: 3px;
  margin-right: 0;
}

.footer-bar {
  justify-content: space-between;
}

.site-map ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.footer-bar li {
  color: var(--font-color-base);
}

.socials img {
  width: 2em;
  margin: 0.5em;
}

.remarks {
  text-align: center;
  margin-top: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

#policy {
  font-weight: bolder;
  color: var(--font-color-base);
}

#first-name, 
#last-name,
#budget, 
#country {
  width: 15rem;
  height: 3em;
  font-size: large;
}

#comments {
  display: flex;
  width: 28em;
  height: 15em;
  font-size: large;
}

form h5 {
  font-weight: bolder;
  font-size: large;
  margin-bottom: 1rem;
}

.hire-us h2, .hire-us h3 {
  color: var(--white);
  font-size: 2.5em;
}

.align h3, .hire-us h3 {
  font-size: x-large;
}

.title h3, title h4 {
  margin: 0;
  padding: 0;
}

.title h4 {
  color: var(--font-color-base);
}

.pricing-heading h2{
  font-weight: bold;
}

#pay-increment {
  margin-top: 1em;
}

#row-two {
  padding-bottom: 2.3em;
}

button.button-blue {
  background-color: var(--font-color-link);
  border: 1px solid var(--font-color-link);
  justify-content: flex-start;
  color: var(--white);
  border-radius: 30px;
  padding: .5rem;
  width: 10rem;
  font-size: medium;
  box-shadow: var(--shadow);
}

h3 button, h4 button {
  background-color: #00C8A7;
  font-size: large;
  font-weight: light;
  border: none;
  padding: 8px;
  margin-left: 1em;
  border-radius: 0.5em;
  color: var(--white);
  box-shadow: var(--shadow);
}

img.logo, .footer-list img {
  max-width: 7rem;
  margin-right: auto;
}

.logo-icon img {
  max-width: 4.2em;
}

.details img {
  max-width: 2em;
  background-color: var(--white);
  border-radius: 1em;
}

.logo-icon.small img {
  max-width: 2.5em;
}

.logo-icon.paypal img,
.calender img {
  max-width: 4.5em;
}

.box img {
  max-width: 5em;
  max-height: 5em;
}

